<div ng-repeat='item in model' class="employeeSummaryContainer">    
    <a href="/Employee/Detail/{{item.PersonID}}" style="text-decoration: none;color:#fff;">
        <div class='photo' style='height: 9vh;'>            
            <img src="assets/images/{{item.PhotoSrc}}" alt="Photo of {{item.FullName}}" class='employeePhoto'/>
        </div>
        <div class='personalData'>
            <div class='Name'>
                <span >{{item.FullName}}</span>
            </div>
            
            <div class='jobTitle'>
                <span>{{item.JobTitleName}}</span>                
            </div>
            
            <div class='officeLocation'>
                <span>{{item.OfficeLocationName}}</span>
            </div>
        </div>
    </a>
    
</div>